.navbar {
    height: 10vh;
    background-color: #1b263b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: none;
    /* float: right; */
}
.nav-title{
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
}
.nav-title::first-letter{
    color: blue;
    font-size: 30px;
}
.nav-menu{
    text-decoration: none;
    color: #ffffff;
    margin-right: 40px;
}

/* media queries for mobile phone */
@media screen and (min-width:680px) {
ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
}